/* /public/css/main.css */

body {
  font-size: 14px;
}


/* pinshow */
div.pca-pinshow-content {
  border: 1px solid #87CEFA;
  margin: .5em;
  padding: .5em;
}
div.pca-pinshow-img-div {
  border: 1px solid #ff9999;
  display: inline-block;
  margin: .5em;
  padding: .5em;
}
img.pca-pinshow-img {
  width: 10em;
}

/* ng-click pointer */
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}