<div class="pb-navigator">
  <md-toolbar class="md-hue-6" layout="row">
    <div class="md-toolbar-tools">

      <!-- 1. Title -->
      <span>
        <a ui-sref="pshow.all" class="pb-no-link">
          <h2 class="md-toolbar-tools">Pinboard</h2>
        </a>
      </span>

      <!-- 2. Divider -->
      <span flex></span>

      <!-- 3. (hidden) Go to my pins -->
      <md-button ui-sref="pshow.self" ng-if="navigatorCtrl.loggedIn === true">
        My pins
      </md-button>

      <!-- 4. (hidden) Add a pin -->
      <md-button ui-sref="paddpin" ng-if="navigatorCtrl.loggedIn === true">
        Add pin
      </md-button>

      <!-- 5. Authentication -->
      <pb-navigator-menu class="pd-navigator-menu-height"></pb-navigator-menu>

      <!-- 6. (hidden) Sign out -->
      <md-button href="/auth/logout" ng-if="navigatorCtrl.loggedIn === true">
        Sign out
      </md-button>

    </div>
  </md-toolbar>
</div>
