/* /public/css/main.css */

/* -----------------------------------------------------------------
   Common
   ----------------------------------------------------------------- */

.test {
  border: 1px solid red;
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(./icons/MaterialIcons-Regular.woff2) format('woff2')
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-white { color: #fff; }
.material-icons.md-grey { color: #777; }



/* ng-click pointer */
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

body {
  font-size: 14px;
}

body,
div#main {
  background-color: #EEE;
}

div#main {
  min-height: 100vh;
}

a.pb-no-link {
  color: white;
  text-decoration: none;
}
a.pb-no-link:hover {
  color: white;
  text-decoration: none;
  cursor:pointer;  
}

.pb-inline-block {
  display: inline-block;
}
.pb-text-center {
  text-align: center;
}

.pb-margin-top {
  margin-top: 1em
}
.pb-margin-left {
  margin-left: 1em
}

.pb-hr {
  border-top: .5px solid #CCC;
  margin: 1em 0;
}


/* Extending Font Awesome */
.pb-fa-grey { color: #777; }



/* -----------------------------------------------------------------
   Grid layout view
   ----------------------------------------------------------------- */
.container {
  width: 16em;
  float: left;
}


/* -----------------------------------------------------------------
   pages / planding / planding.html
   ----------------------------------------------------------------- */

.pb-landing {
  border: 1px solid blue;
}


/* -----------------------------------------------------------------
   pages / pshow / pshow.html
   ----------------------------------------------------------------- */

.pb-pshow {
  text-align: center; 
}

.pb-pshow-title {
  margin: 2em 0 0 2em;
  text-align: left;
}

.pb-pshow-content {
  /*border: 1px solid #87CEFA;*/
  margin: .5em;
  padding: .5em;
  display: inline-block;
  text-align: left;
}
.pb-pshow-img-div {
  /*border: 1px solid #ff9999;*/
  display: inline-block;
  float: left;
  margin: .5em;
  width: 15em;
}

a.pb-pshow-user {
  color: #555;
  font-weight: 500;
  text-decoration: none;
}
a.pb-pshow-user:hover {
  text-decoration: underline;
}

div.pb-pshow-img-clear {
  /*display: none;*/
  position: absolute;
  color: #fff;
}

.pb-pshow-img-clear {
  background-color: #777;
  display: none;
}
.pb-pshow-img-div:hover .pb-pshow-img-clear {
  display: inline;
}


/* -----------------------------------------------------------------
   components / navigator / navigator.html
   ----------------------------------------------------------------- */

.pd-navigator-menu-height,
md-menu.pd-navigator-menu-height {
  height: 100%;
}

.pd-navigator-auth-btn {
  color: #fff;
}
.pd-navigator-auth-btn i {
  vertical-align: middle;
  margin-top: -8px;
}

.pb-navigator-margin-top {
  margin: -10px 0 0 0;
}
.pb-navigator-margin-top-15 {
  margin: -15px 0 0 0;
}

md-toolbar,
div.pb-navigator {
  max-height: 48px;
}

md-menu-content {
  position: relative;
}

.md-toolbar-tools a {
  color: #fff;
  text-decoration: none;
}


/* -----------------------------------------------------------------
   components / footer / footer.html
   ----------------------------------------------------------------- */

div.pb-footer-content {
  margin-right: 3em;
}

