<!-- /ng-app/components/pinshow-self/pinshow-self-view.html -->
<div class="pca-pinshow-self">
  <h1>All pins</h1>

  <div class="pca-pinshow-content">
    <div class="pca-pinshow-img-div"
         ng-repeat="pin in pcaPins track by pin._id">
      <img ng-src="{{pin.url}}" alt="pin image" class="pca-pinshow-img"
           onError="this.onerror=null;this.src='/images/errImg.png';">
      <br>
      {{pin.pinname}}
      <br>
      {{pin.username}}
      <br>
      <a ng-click="deletePin(pin._id)">delete</a>
    </div>

  </div>
</div>
