<!-- /ng-app/components/pinadd/pinadd-view.html -->
<div class="pca-pinadd">
  <h1>Add pin</h1>
  <div class="pca-pinadd-form-div">
    <form name="pca-pinadd-form" ng-submit="pinadd()"
          class="form-group"
          ng-controller="pinaddCtrl">
      <input type="text" placeholder="pinname"
             name="pinname" ng-model="pinaddForm.pinname"><br>
      <input type="text" placeholder="url"
             name="url" ng-model="pinaddForm.url"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
